@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

.container {
    width: 100vw;
    display: flex;
    background-color: #ddd;
}

.barralateral {
    display: flex;
    background-color: #bbb;
    flex-direction: column;
}

.principal {
    background-color: #ccc;
    display: flex;
    flex-grow: calc(1);
}

span {
    font-size: 2rem;
}

.elemento {
    padding: 1rem;
    margin: 1rem;
}

.principal span {
    font-size: 3rem;
    font-weight: 700;
    padding: 2rem;
}

.elemento-1 {
    background-color: beige;
}

.elemento-2 {
    background-color: antiquewhite;
}

.elemento-3 {
    background-color: rgb(187, 187, 15);
}

@media
    (max-width: 639px) { .container {
        flex-direction: column-reverse;
    }
}

@media
    (max-width: 639px) { .barralateral {
        flex-direction: row;
        justify-content: center;
    }
}

@media
    (max-width: 639px) { .elemento span {
        font-size: 1rem;
    }
}
